/***********************************************************
    Iron original theme for Drupal 5.x
    Design by drupal.mensh.ru                                                
    Author: Oleg Menshenin
    Contact: oleg at mensh dot ru
    
    List of features:
    * Standarts-compliant XHTML 1.0 Strict and CSS.
    * Supports one and two columns.
    * Cross-browser compatible. Works fine in Firefox 2.0
      and IE 6.
    * Designed for banners with dimensions: 728x90, 468x60,
      468x15.
************************************************************/

/*  Global
-----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
}

HTML {
    background: url(images/window-bg.png) #EEE;
}

BODY {
    position: relative;
    width: 766px;
    font: 14px/1.4em Arial, Tahoma, sans-serif;
    margin: 0 auto;
    padding: 1px 0;
}

A, A:link, A:visited {
    text-decoration: none;
}
A:hover {
    text-decoration: underline;
}

BLOCKQUOTE {
    font-style: italic;
    border-left: 2px 0 solid #EFBD15;
    margin: .5em 1em;
    padding: .3em;
}

CITE {
    color: #666;
    font-weight: bold;
}

FIELDSET {
    border: 1px solid #EFBD15;
    margin: .5em 0;
}

INPUT, SELECT, TEXTAREA, TEXTFIELD {
    font-size: 95%;
}

OL {
    margin: .5em 0 1.8em 2.4em;
}

UL, QUOTE {
    margin: .5em 0;
}

/*  Header
-----------------------------------------------------------*/
#header {
    position: relative;
    margin-top: 1.7em;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

#header DIV.site-name {
    height: 3em;
    background: url(images/site-name-bg.png) #333 left top repeat-x;
}
#header DIV.site-name H1 {
    font: italic 190% Impact, Arial, sans-serif;
    text-transform: uppercase;
    padding-top: .3em;
}
#header DIV.site-name H1 A:link, #header DIV.site-name H1 A:visited {
    color: #CCC;
    text-decoration: none;
}
#header DIV.site-name H1 A:hover {
    color: #FFF;
}

#header DIV.site-slogan {
    height: 1.5em;
    background: url(images/site-slogan-bg.png) #CCC left bottom repeat-x;
}
#header DIV.site-slogan H2 {
    color: #555;
    font-size: 110%;
}

#header DIV.site-name H1, #header DIV.site-slogan H2 {
    padding-left: 100px;
}

#header IMG.logo {
    position: absolute;
    left: 18px;
    top: 0;
}
#header IMG.logo A:hover {
    color: #FFF;
    text-decoration: underline;
}

/*  Navigation
-----------------------------------------------------------*/
#header DIV.primary-links {
    position: absolute;
    right: 0;
    top: 3.05em;
}
#header DIV.primary-links UL, #header DIV.primary-links LI {
    float: left;
    display: inline;
    list-style: none;
}
#header DIV.primary-links LI {
    font-size: 85%;
    border-left: 1px solid #999;
    margin: 0;
    padding: 0;
}
#header DIV.primary-links LI A {
    display: block;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0;
    padding: .1em .4em;
}
#header DIV.primary-links LI A:hover {
    background: #666;
    color: #CCC;
}	

#header DIV.secondary-links {
    position: absolute;
    right: 15px;
    top: -1.5em;
}
#header DIV.secondary-links UL, #header DIV.secondary-links LI {
    float: left;
    list-style: none;
}
#header DIV.secondary-links LI {
    text-transform: uppercase;
    border-left: 1px solid #999;
    padding: 0 .3em 0 .4em;
}
#header DIV.secondary-links LI.first {
    border: none;
}
#header DIV.secondary-links A {
    color: #333;
    font-size: 80%;
    text-decoration: none;
}
#header DIV.secondary-links A:hover {
    color: #000;
    text-decoration: underline;
}

.breadcrumb {
    font-size: 90%;
    text-decoration: none;
    padding: 0 0 0 19px;
}
.breadcrumb A:link, .breadcrumb A:visited {
    color: #333;
}
.breadcrumb A:hover {
    color: #000;
    text-decoration: underline;
}

/*  Search
-----------------------------------------------------------*/
#search {
    position: absolute;
    right: 20px;
    top: 1em;
}

#search .form-text, #search .form-submit {
    display: inline;
    vertical-align: middle;
    background: #EEE;
    font-size: 85%;
}

#search .form-text {
    width: 10em;
}

#search .form-submit {
    background: #333;
    color: #CCC;
    border: 1px outset #111;
}

/*  Commons
-----------------------------------------------------------*/
BODY.withleft #main {
    margin-left: 215px;
}

#container {
    padding-top: .3em;
}

#header-region {    /* For banner 728x90 */
    text-align: center;
    margin: .5em 0;
}
* HTML #header-region {
    margin: .5em 0 1em;
}

#content {
    position: relative;
    width: 100%;
}

#mission {    /* One linear design */
    background: url(images/h-bg.png) #333 left top repeat-x;
    color: #DDD;
    font-size: 110%;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: right;
    padding: .1em 19px;
    zoom: 1;
}
    
/*  Sidebar
-----------------------------------------------------------*/
#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
}

#sidebar .block {
    background: #FFF;
    border: 1px solid #CCC;
    margin-bottom: 1em;
}

#sidebar .block H2.title {
    background: url(images/h-bg.png) #333 left top repeat-x;
    color: #DDD;
    font-size: 110%;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: .1em 18px;
}
#sidebar .block H3 {
    font-size: 120%;
    font-weight: bold;
    padding-left: 6px;
}

#sidebar .block .content {
    font-size: 95%;
    padding: .75em 12px;
}
#sidebar .block .content A:link, #sidebar .block .content A:visited {
    color: #333;
}
#sidebar .block .content A.active {
    font-weight: bold;
    text-decoration: none;
}

/*  Content
-----------------------------------------------------------*/
#main {
    background: #FFF;
    border: 1px solid #CCC;
    min-height: 30em;
}

#main H1.title {
    background: url(images/h-bg.png) #333 left top repeat-x;
    color: #DDD;
    font-size: 110%;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: right;
    padding: .1em 19px;
    zoom: 1;
}

#squeeze {
    padding: 0 18px .75em;
}

#main H2 {
    font-size: 128%;
    font-weight: normal;
    margin: .5em 0;
}
#main H2 A {
    color: #666;
    text-decoration: none;
}
#main H2 A:hover {
    text-decoration: underline;
}
#main H3, CAPTION {
    font-size: 113%;
    font-weight: normal;
}
#main H4 {
    font-size: 100%;
    font-weight: bold;
}
#main H2, #main H3, #main H4 {
    padding-top: .3em;
}

#main LI, #main DD {
    font-size: 100%;
}

#main P {
    font-size: 100%;
    line-height: 1.3em;
    margin: .5em 0;
}

#main #content-top {    /* For banner 468x60 */
    text-align: right;
    margin: .5em 0;
}
#main #content-top .title {
    display: none;
}

#main #content-bottom {    /* For banner 468x15 */
    text-align: left;
}

#main .book-navigation .page-links, #main .links, #main .submitted, #main .tabs, #main .taxonomy {
    font-size: 95%;
}

#main .comment {
    background: #EFEFE7;
    margin-left: 18px;
    padding: .5em;
}

#main .comment .picture, #main .node .picture {
    float: left;
    margin-right: .5em;
}

#main .comment-unpublished {
    background: #FFB6C1;
}

#main .comment .new {
    color: #666;
    font-weight: bold;
}

#main .comment .links {
    text-align: right;
}

#main .content {
    padding: .5em 0;
}

#main .content UL {
    margin-left: 1em;
    padding-left: 1em;
}

#main .error {
    border: 2px solid #F00;
}

#main .form-item {
    border: normal;
}

#main .inline IMG {
    float: right;
    border: 1px solid #EFBD15;
    margin: 0 0 .5em .75em;
    padding: 5px;
}

#main .links LI {
    border-left: 1px solid #999;
    padding-left: .6em;
}
#main .links LI.first {
    border: none;
    padding-left: 0;
}

#main .list {
    overflow-x: auto;
}

#main .messages {
    background: #90EE90;
    border: 1px dashed #000080;
}
#main .messages UL {
    margin: 0;
    padding-left: 20px; 
}

#main .page-links {
    margin: .75em 0 0;
    padding: 1px 0;
}

#main .pager {
    padding-top: .5em;
}

#main .submitted {
    color: #999;
}

#main .tabs LI A {
    margin: 0;
    padding: 0 .2em;
}

/*  Footer
-----------------------------------------------------------*/
#footer, #copy {
    width: 100%;
    color: #666;
    font-size: 75%;
    text-transform: uppercase;
    text-align: right;
}

#footer {
    margin-top: .5em;
}

#copy {
    margin-bottom: .5em;
}

#footer A, #copy A {
    color: #666;
    text-decoration: none;
}
#footer A:hover, #copy A:hover {
    color: #000;
    text-decoration: underline;
}